.barrage{
	position: absolute;
	z-index: 1000;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding: 6px 20px 6px 20px;
	white-space:nowrap;
}
.style1{
	background: -webkit-linear-gradient(left, rgba(29, 140, 224, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: -o-linear-gradient(right, rgba(29, 140, 224, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: -moz-linear-gradient(right, rgba(29, 140, 224, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: linear-gradient(to right, rgba(29, 140, 224, 0.7) 50%, rgba(255,255,255,0.2) 100%);
}
.style2{
	background: -webkit-linear-gradient(left, rgba(19, 206, 102, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: -o-linear-gradient(right, rgba(19, 206, 102, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: -moz-linear-gradient(right, rgba(19, 206, 102, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: linear-gradient(to right, rgba(19, 206, 102, 0.7) 50%, rgba(255,255,255,0.2) 100%);
}
.style3{
	background: -webkit-linear-gradient(left, rgba(255, 73, 73, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: -o-linear-gradient(right, rgba(255, 73, 73, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: -moz-linear-gradient(right, rgba(255, 73, 73, 0.7) 50%, rgba(255,255,255,0.2) 100%);
	background: linear-gradient(to right, rgba(255, 73, 73, 0.7) 50%, rgba(255,255,255,0.2) 100%);
}